.body {
  height: 730px;
  padding: 0 8rem;
  display: flex;
  /* background-color: #6e21d2; */
}
.left {
  flex: 1;
  /* background-color: #9d9cde; */
  display: flex;
  padding: 2rem 0;
}
.right {
  flex: 1;
  /* background-color: #de9c9c; */
}

.content {
  /* background-color: #ad1212 ; */
  padding: 3rem 1rem;
}

.heading {
  font-size: 2.5rem;
}
.price {
  color: #6a6868;
}
.review {
  display: flex;
  align-items: center;
}

.rev {
  margin: 1rem 3rem;
  color: rgb(127, 125, 125);
  font-size: 1rem;
}
.size,
.color {
  margin-top: 1rem;
}

.box {
  /* background-color: #c22e2e; */
  /* height: 40px; */
  display: flex;
  gap: 1rem;
}
.b1 {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 5px;
  background: #f9f1e7;
}

.b2,
.b3,
.b4 {
  height: 25px;
  width: 25px;
  border: 2px solid white;
  border-radius: 50%;
}
.b2 {
  background: #816dfa;
}
.b3 {
  background-color: #000000;
}
.b4 {
  background: #b88e2f;
}

.addtocart {
  display: flex;
  gap: 1rem;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 2rem;
  /* background-color: rgb(17, 213, 79); */
}
.rect1 {
  display: flex;
  gap: 1rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 3rem;
  border: 1px solid black;
}
.rect2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  border-radius: 1rem;
  height: 3rem;
  border: 1px solid black;
  border: 1px solid black;
}

.rect3 {
  display: flex;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  border: 1px solid black;
  border: 1px solid black;
}

.label{
  display: flex;
  gap: 2rem;
  margin:  1rem ;
  color: #6a6868;
}
.lf{
  width: 4rem;
}







